@import "tailwindcss";
@plugin "daisyui";


@theme {
  --color-darkblue: #03045E;
  --color-darkbrown: #474306;
  --color-yellow: #F5EE84;
  --color-yellowlight: #FBF8CC;
  /* google fonts */
  --font-poppins: "Poppins", sans-serif;
}

@layer base {
  html {
    @apply text-base;
  }

  body {
    @apply bg-yellowlight text-darkblue font-poppins;
  }
}

@layer components {
  .container {
    @apply container mx-auto px-8;
  }

  .btn-yellow {
    @apply bg-yellow rounded-md py-3 px-6 text-darkbrown relative before:content-[''] before:absolute before:h-full before:w-full before:bg-transparent before:border-darkbrown before:border-2 before:rounded-md before:-top-3 before:-left-3 hover:before:top-0 hover:before:left-0 duration-700 delay-100 before:transition-all hover:bg-darkbrown hover:text-yellowlight transition-all
  }
}
